
@media (min-width: 320px) and (max-width: 767px) {
.container-menu-hamburger {
    display: block;

   .hamburger-bth {
     display: flex;
     align-items: center;
     position: absolute;
     top: 18px;
     right: 32px;
     width: 26px;
     height: 26px;
     cursor: pointer;
     z-index: 1;
   }

   .hamburger-bth > span,
   .hamburger-bth > span::before,
   .hamburger-bth > span::after {
     display: block;
     position: absolute;
     width: 100%;
     height: 2px;
     background-color: #FFFFFF;
     transition-duration: .25s;
   }

   .hamburger-bth > span::before {
     content: '';
     top: -8px;
   }

   .hamburger-bth > span::after {
     content: '';
     top: 8px;
   }

   .nav-list-hamburger {
     display: block;
     width: 100%;
     height: 574px;
     margin: -25px auto;
     padding: 0;
     /*visibility: hidden;*/
     position: absolute;
     top: 73px;
     left: -100%;
     list-style: none;
     background-color: black;
     transition-duration: .3s;
     z-index: 3;
   }

   .nav-list-item {
     margin: 28px auto;
   }

   .nav-list-item a {
     display: block;
     text-align: center;
     padding: 12px 24px;
     color: #FFFFFF;
     font-family: 'OpenSans-Bold', sans-serif;
     font-size: 14px;
     line-height: 100%;
     font-weight: 600;
     text-decoration: none;
     transition-duration: .25s;
   }

   .nav-list-item a:hover {
     background-color:  #EC7979;
     transition: .3s;
   }

   #toggle{
     opacity: 0;
   }

   #toggle:checked ~ .hamburger-bth > span {
     transform: rotate(45deg);
   }

   #toggle:checked ~ .hamburger-bth > span::before {
     top: 0;
     transform: rotate(0);
   }

   #toggle:checked ~ .hamburger-bth > span::after {
     top: 0;
     transform: rotate(90deg);
   }

   #toggle:checked ~ .nav-list-hamburger {
     visibility: visible;
     left: 0;
   }
 }

}