/*Color-text*/

$white:#FFFFFF;
$graphite: #2D3033;
$grey: #6C7279;
$redText: #FF4343;
$black: #000000;
$greyFooter:#808080;


/*Color-logo*/

$textHover:#FFFFFF;
$textActive:#E71414;
$lineHover: #BABBC5;
$lineActive:#E71414;

/*color-btn*/

$redBtn: #FF4343;
$redHover: #E71414;

/*Font-size h*/

$h1: 64px;
$h2: 36px;
$h3: 30px;
$h4: 24px;
$h5: 18px;
$h6: 13px;

/*Color footer*/
$footerFirst: #353C65;
$footerSecond: #2C3154;