@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway/static/Raleway-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('../assets/fonts/Raleway/static/Raleway-Bold.ttf');
  font-weight: bold;
}


@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../assets/fonts/Raleway/static/Raleway-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../assets/fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf');
  font-weight: 600;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.header-container {

  
  position: relative;
  z-index: 2;
  background-color: #000000;
}

.header-content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.header-logo {
  display: block;
 /* margin: 0 auto;*/
}

.header-logo img {
  padding: 20px 15px;
  /*display: block;
  text-align: center;*/
}

.nav-menu {
  margin: 0 0 0 auto;
  /*position: absolute;
  content: '';
  right: 0;*/
  list-style-type: none;
}

.nav-list {
  height: 100%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  list-style-type: none;
}

.nav-list-item a {
  display: block;
  text-decoration: none;
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  padding: 27px 30px;
}

.nav-list li:hover {
  background-color: #EC7979;
  text-align: center;
}

.nav-list li:active {
  background-color: #AB4949;
  text-align: center;
}



/*.nav-list li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

/*.nav-list-item a:hover {
  background-color: #EC7979;
  text-align: center;
}*/

/*.nav-list-item a:active {
  background-color: #AB4949;
  text-align: center;
}*/


/* Header*/

/*.header-container { width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

.wrapper-header {
  padding: 20px 15px;
  position: relative;
  z-index: 2;
  background-color: #000000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  padding-left: 100px;
}

.nav-menu {
  padding-right: 170px;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

.nav-list-item a {
  display: block;
  padding: 7px 30px;
  text-align: center;
  text-decoration: none;
}

.nav-list-item a:hover {
  background-color: #EC7979;
  text-align: center;
}

.nav-list-item a:active {
  background-color: #AB4949;
  text-align: center;
}

.nav-list-item a {
  text-decoration: none;
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}*/

/* Секция banner*/

.section-banner {
  margin: 0 auto;
  padding: 0;
}

.wrapper-section-banner {
  display: flex;
  height: 1026px;
  margin-top: -75px;
  /*padding-top: 300px;
  padding-left: 170px;*/
  position: relative;
  z-index: 1;
  background-image: url(../assets/images/city-header.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-section-banner:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
}

.banner-filter {
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.banner-section-title {
  width: 670px;
  position: relative;
  margin-top: 72px;
  font-family: 'Raleway-Medium';
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: #FFFFFF;
}

.banner-section-title::after {
  position: absolute;
  content: '';
  width: 170px;
  height: 1px;
  background-color: #FFFFFF;
  bottom: -55px;
  left: 0;
}

.banner-logo p {
  width: 270px;
  padding-top: 100px;
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.banner-button {
  width: 270px;
  height: 58px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  margin-top: 42px;
  text-align: center;
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 18px;
  line-height: 100%;
  cursor: pointer;
}

.banner-button:hover {
  border: 2px solid #EC7979;
  color: #EC7979;
}

.banner-button:active {
  border: 2px solid #AB4949;
  background-color: #AB4949;
  color: #FFFFFF;
}

.banner-form {
  width: 470px;
  height: 450px;
  margin-left: 30px;
  margin-top: -18px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.title-form {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.banner-form .title-form p {
  padding: 0 3px;
  color: #333333;
  text-transform: uppercase;
  font-family: 'OpenSans-Bold';
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.banner-form .title-form p:nth-child(2) {
  color: #EC7979;
}

.contact-form {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 370px;
}

.contact-form input {
  margin-top: 35px;
  border: 0;
  border-bottom: 1px solid #BDBDBD;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD;
}

.contact-name,
.contact-email,
.contact-password {
  padding: 10px 0;
}

.contact-form .contact-submit {
  width: 470px;
  height: 60px;
  margin: 72px 0 0 -50px;
  padding: 0;
  border: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #EC7979;
  font-family: 'OpenSans-SemiBold';
  font-weight: 600;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}

.contact-form .contact-submit:hover {
  background-color: #AB4949;
}

/*Секция Social*/

.section-social {
  background-color: #F8EFEF;
}

.social-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 18px 15px;
  display: flex;
}

.section-social-media {
  margin-right: 50px;
}

.section-social-media p:first-child {
  margin-bottom: 25px;
  font-family: 'OpenSans-Bold';
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.section-social-media p:last-child {
  /*padding-right: 30px;*/
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
}

.section-social-icons a {
  text-decoration: none;
}

.section-social-icons a img {
  margin-right: 35px;
}



/*Секция tabs*/

.section-tabs {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 99px;
  padding: 0 14px;
}

.wrapper-tabs {
  padding-left: 100px;
  font-size: 0px;
  border: 1px solid #C6CBCD;
}

.tabs-button {
  width: 203px;
  height: 40px;
  margin: 0 -14px -2px 0;
  padding: 10px 0 0 0;
  display: inline-block;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  vertical-align: middle;
}

.wrapper-button div:first-child {
  background-color: white;
  border: 1px solid #C6CBCD;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.tabs-one {
  max-width: 570px;
  display: inline-block;
  padding-top: 43px;
  vertical-align: top;
}

.tabs-two {
  display: inline-block;
}

.tabs-two img {
  width: 470px;
  height: 500px;
  display: block;
  margin-left: 30px;
}

.tabs-one h2 {
  padding-right: 53px;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #000000;
}

.tabs-one p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #000000;
  padding: 70px 0 27px 0;
}

.tabs-one p:nth-of-type(2) {
  padding: 0;
  margin-top: -7px;
}

.button-tabs {
  width: 270px;
  height: 58px;
  border: 1px solid #EC7979;
}

.tabs-one-button {
  width: 270px;
  height: 58px;
  margin-top: 27px;
  background-color: #EC7979;
  text-align: center;
}

.tabs-one-button a {
  display: inline-block;
  text-decoration: none;
  margin-top: 17px;
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
}


.tabs-one-button:hover {
  background-color: #AB4949;
}

.tabs-one-button:active {
  background-color: #EC7979;
}

/*Секция аbout*/

.section-about {
  margin-top: 102px;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.section-title {
  position: relative;
  margin: 50px 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  bottom: -55px;
  left: calc(50% - 85px);
}

/*.section-line {
  width: 170px;
  margin: 0 auto;
  border-bottom: 1px solid #EC7979;
}/*

/*.banner-section-title {
  width: 670px;
  position: relative;
  margin-top: 72px;
  font-family: 'Raleway-Medium';
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: #FFFFFF;
}

.banner-section-title::after {
  position: absolute;
  content: '';
  width: 170px;
  height: 1px;
  background-color:  #FFFFFF;
  bottom: -55px;
  left: 0;
}*/


.section-discription {
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878B;
  text-align: center;
}

.section-about-elem-item {
  width: 370px;
  margin-top: 110px;
  display: inline-block;
}

.section-about-elem-text {
  margin-top: 75px;
}

.section-about-elem-img {
  width: 92px;
  height: 92px;
  border: 1px solid #EC7979;
  border-radius: 50%;
  margin: 0 auto;
}

.section-about-elem-img img {
  display: block;
  margin: 13px auto;
}

.section-about-elem-img .two-img {
  margin: 23px auto;
}

.section-about-elem-text h3 {
  margin: 0 auto;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}

.section-about-elem-text p {
  margin-top: 42px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  color: #86878B;
}

/* Секция pricing*/

.section-pricing {
  margin: 58px auto 0 auto;
  background-color: #F5F5F5;
}

.wrapper-pricing {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-pricing h2 {
  margin: 0 auto;
  padding-top: 105px;
}

.wrapper-pricing .section-line {
  padding-top: 55px;
}

.pricing-content {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 50px;
}

.pricing-list li {
  width: 370px;
  padding: 14px 0;
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878B;
  background-color: #FFFFFF;
  border-bottom: 2px solid #F5F5F5;
}

.two-col {
  box-shadow: 0px 4px 10px #d6d6d6;
}

.pricing-list li:first-child {
  padding: 12px 0;
  background-color: #333333;
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}

.pricing-list li:nth-child(2) {
  padding: 28px 0;
  background-color: #333333;
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.pricing-list li:nth-child(3) {
  background-color: #333333;
}

.pricing-content-optima {
  margin-top: -20px;
}

.section-review {
  margin: 100px auto 0 auto;
}

.wrapper-review {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.review-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  margin-top: 83px;
}

.review-col {
  width: 33.3%;
  padding: 15px;
}

.review-col-text {
  position: relative;
  padding: 38px 18px;
  border-radius: 10px;
  background-color: #E2E2E2;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #86878B;
}

.review-col-text::before,
.review-col-text::after {
  position: absolute;
  content: '';
  margin: 38px -125px;
  border-top: 20px solid #E2E2E2;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}


/*
.review-col-triangle {
  width: 0;
  height: 0;
  border-top: 20px solid #E2E2E2;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}*/

.review-info {
  display: flex;
  margin-top: 66px;
}

.review-info img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.review-info-name {
  margin-left: 30px;
}

.review-info-name p:first-child {
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
}

.review-info-name p:last-child {
  margin-top: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
}

/* Секция design*/

.section-design {
  /*width: 1510px;*/
  margin: 64px auto 0 auto;
  padding: 0;
}

.wrapper-design {
  height: 442px;
  text-align: center;
  /*margin-top: -75px;
  padding-top: 300px;
  padding-left: 170px;*/
  position: relative;
  z-index: 1;
  background-image: url(../assets/images/city-design.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-design:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
}

.wrapper-design .banner-filter {
  flex-direction: column;
  padding-top: 100px;

}

.design-title {
  position: relative;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
}

.design-title::after {
  position: absolute;
  content: '';
  width: 170px;
  height: 1px;
  background-color: #FFFFFF;
  bottom: -55px;
  left: 44%;
}

.banner-filter p {
  padding-top: 100px;
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.design-button {
  width: 370px;
  height: 58px;
  margin: 65px auto 0;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 18px;
  line-height: 100%;
  cursor: pointer;
}

.design-button:hover {
  border: 2px solid #EC7979;
  color: #EC7979;
}

.design-button:active {
  border: 2px solid #AB4949;
  background-color: #AB4949;
  color: #FFFFFF;
}

.section-contact {
  margin-top: 50px;
}

.footer-container {
  margin: 0 auto;
  background-color: #000000;
}

.footer-social {
  text-align: center;
}

.footer-social a {
  margin: 0 22px;
  text-decoration: none;
}

.fa-brands,
.fa-solid {
  padding-top: 35px;
  font-size: 40px;
  color: #CCCCCC;
}

.footer-text p {
  padding: 27px 0;
  text-align: center;
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}
