.header .wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
    padding: 20px 0;
    position: relative;
    z-index: 2;

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-content::after {
        position: absolute;
        content: '';
        width: 85%;
        height: 1px;
        background-color: $lineHover;
        top: 100px;
        left: 8%;
        right: 0px;
        overflow: hidden;
    }

    &-nav-list {
        display: flex;
        height: 100%;
        gap: 55px;

        a {
            display: inline-block;
            position: relative;
            padding: 20px 0;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            color: $white;
            transition: .3s;
            cursor: pointer;

            &::after {
                /*padding-bottom: 54px;
                color: $textHover;
                border-bottom: 3px solid $lineHover;*/
                display: block;
                position: absolute;
                content: "";
                height: 3px;
                width: 0%;
                background-color: $lineHover;
                transition: 0.3s ease-in-out;
            }

            &:hover::after {
                /*padding-bottom: 54px;
                color: $textActive;
                border-bottom: 3px solid $lineActive;*/
                width: 100%;
                margin-top: 44px;
            }

            &:active {
                color: $textActive;
            }


            &:active::after {
                margin-top: 44px;
                width: 100%;
                background-color: $textActive;
            }
        }
    }
}

.container-menu-hamburger {
    display: none;
}
