.section-download {
    @extend %wrapper;
    margin: 116px auto;

    .download {
        color: $black;
        text-align: center;
        font-family: Raleway, sans-serif;

        &-one {
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: 500;
            line-height: 35px;
        }

        &-two {
            text-transform: uppercase;
            margin-bottom: 50px;
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
        }

        .banner-btn {
            @extend %btn;

            .button {
                @extend %button;

                &:hover {
                    @extend %buttonHover;
                }

                &:active {
                    @extend %buttonActive;
                }
            }

        }
    }
}

@media /*(min-width: 860px) and*/ (max-width: 1024px) {
.section-download {
    margin: 77px auto;

    .download {

        &-one {
            margin-bottom: 20px;
            font-size: 24px;
            line-height: 28px;
        }

        &-two {
            margin-bottom: 50px;
            font-size: 14px;
            line-height: 16px;
        }

        .banner-btn {
            width: 313px;
            height: 77px;

            .button {
                font-size: 18px;
                line-height: 21px;
            }

        }
    }
}
}

@media (min-width: 320px) and (max-width: 800px) {
    .section-download {
        margin: 45px auto;
    
        .download {
    
            &-one {
                font-size: 18px;
                line-height: 21px;
            }
    
            &-two {
                margin-bottom: 15px;
                font-size: 13px;
                line-height: 15px;
            }
    
            .banner-btn {
                width: 278px;
                height: 77px;
    
                .button {
                    font-size: 18px;
                    line-height: 21px;
                }
    
            }
        }
    }
    }