.section-download  {
    max-width: 1200px;
    padding: 0 15px;
    margin: 116px auto;
}

.download {
    color:#000000;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.download-one {
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 20px;
}

.download-two {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 50px;
}


.banner-btn {
    @extend %btn;

    .button {
     @extend %button;

        &:hover {
          @extend %buttonHover;
        }

        &:active {
          @extend %buttonActive;
        }
    }
  }