.section-features {
    max-width: 1200px;
    padding: 0 15px;
    margin: 116px auto;

    .wrapper-features {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 100px;
        grid-column-gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .section-features-elem-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .section-features-elem-text {
            font-family: 'Raleway', sans-serif;
            line-height: 21px;

            h3 {
                margin: 40px 0 20px 0;
                font-weight: 900;
                font-size: $h4;
                text-transform: uppercase;
                color: $graphite;
            }

            p {
                font-size: $h5;
                color: $grey;
            }
    }
 }

}

@media /*(min-width: 860px) and*/ (max-width: 1024px) {
    .section-features {
        padding: 0 20px;
        margin: 77px auto;

        .wrapper-features {
            grid-row-gap: 40px;
        }

        .section-features-elem-item {

            .section-features-elem-img img {
                width: 80px;
                height: 80px;
            }

            .section-features-elem-text {
                h3 {
                    margin: 40px 0 20px 0;
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }
}


@media (min-width: 320px) and (max-width: 800px) {
.section-features {
    margin: 50px auto;

    .wrapper-features {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
    }

    .section-features-elem-item {

        .section-features-elem-text {

            h3 {
                margin: 40px 0 20px 0;
                font-size: 18px;
            }

            p {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}

}